:root {
    --primary-color: #773DBD;
    --secondary-color: #202E3D;
}

body {
    background-color: var(--secondary-color);
}

.toast-bottom-center {
    bottom: 12px;
}

.cut-img {
    object-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;

}

.card {
    margin: 10px;
}

.card-title {
    padding:5px;
    text-align: center;
}

.card button, form button {
    background-color: var(--primary-color)!important;
}

.btn-card {
    border-top-left-radius:0px; 
    border-top-right-radius:0px;
}

.navbar {
    background-color: var(--secondary-color);
}
