.toast-bottom-center {
    bottom: 12px;
}

.cut-img {
    object-position: center;
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor (.card) */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
    aspect-ratio: 1; /* Establece una relación de aspecto de 1:1 (cuadrada) */
    object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor sin distorsionarla */

}

.card-title {
    padding:5px;
    text-align: center;
}

.btn-card {
    border-top-left-radius:0px; 
    border-top-right-radius:0px;
}

.card {
    margin: 10px;
}